/*BTN*/
@mixin btn {
    @include roboto-500;
    color: white;
    font-size: 1.2em;
    border-radius: 2em;
    background: linear-gradient($color-secondary, $color-primary);
    padding: 1em 0 1em 0;
    border: none;

    &:hover {
        background: linear-gradient($color-hover-secondary, $color-hover-primary);
        @include hover-shadow;
    }
}