@import "../Utils/_variables";
@import "../Utils/_mixin";
@import "../Components/_spinner";
@import "../Components/_button.scss";
@import "../Components/_dishes.scss";
@import "../Utils/_fonts";
@import "../Utils/_keyframes";
@import "../Components/heart";


/*SPINNER*/
@include loadder-spinner;

/*LOCATION*/
.location {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-main-primary;
    box-shadow: inset 0em 0.1em 0.2em 0em rgb(204, 203, 203);
    user-select: none;

    >p {
        @include roboto-700;
    }

    >i {
        padding-right: 1em;
    }
}

/*PRESENTATION*/
.presentation {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: $color-main-secondary;
    padding: 1.5em 0 4em 0;
    >h1 {
        @include roboto-900;
        font-size: 1.6em;
        text-align: center;
        max-width: 10em;
    }

    >p {
        @include roboto-400;
        font-size: 1.2em;
        text-align: center;
    }

    >a>button {
        @include btn;
        @include shadow;
        cursor: pointer;
        user-select: none;
        width: 13em;
        margin-top: 1em;
    }
}

/*FONCTIONNEMENT*/
.fonctionnement {
    display: flex;
    flex-flow: column wrap;
    min-height: 20em;
    justify-content: space-between;
    padding-top: 2.5em;
    user-select: none;
    
    &__title {
        @include roboto-900;
    }

    &__view {
        @include roboto-700;
        @include P_cards;
        @include fonctionnement-hover;
        @include shadow;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: $color-main-secondary;
        padding-right: 3em;
    }

    &__dot {
        @include dot;
        @include roboto-400;
        position: relative;
        right: 1.2em;
        z-index: 1;
    }

    &__container {
        @include fonctionnement-container;
        padding-bottom: 5em;
    }

    &__icon--sizing {
        text-align: center;
        width: 2em;
        margin-right: 1.5em;
    }

    &__texte {
        padding-right: 1em;
    }
}

.icone {
    font-size: 1.2em;
    padding-left: 0.1em;
}

/*RESTAURANTS*/
.restaurants {
    background-color: $color-main-secondary;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding-bottom: 5em;

    &__title {
        @include roboto-900;
    }

    &__card__title {
        @include roboto-900;
        margin: 1em 0 0 0.8em;
    }

    &__card__location {
        @include roboto-400;
        margin: 0.3em 0 0.5em 1em;
    }

    &__card {
        @include shadow;
        display: flex;
        align-items: flex-start;
        flex-flow: column wrap;
        background-color: $color-neutral-card;
        border-radius: 1em;
        height: 15em;
        width: 20em;
    }

    &__img--resize {
        border-radius: 1em 1em 0 0;
        height: 10em;
        width: 20em;
        object-fit: cover;
        object-position: 50% 60%;
    }

    &__container {
        @include restaurants-container;
        padding-top: 3em;
    }

    &>.second-container>.restaurants__card>a {
        text-decoration: none;
        color: black;
        height: 15em;
    }
}

.notification {
    @include roboto-700;
    position: relative;
    bottom: 1em;
    right: 6.5em;
    border-radius: 0.3em;
    width: 5.5em;
    height: 2.2em;
    text-align: center;
    color: $color-text-notification;
    background-color: $color-background-notification;
    user-select: none;
    z-index: 2;

    &__texte {
        margin: 0.6em 0 0.6em 0;
    }
}

.second-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    min-height: 63em;
}

@media screen and (min-width: 700px) {
    .loadder__spinner--color1 {
        left: 42%;
    }

    .fonctionnement__container {
        width: 50%;
    }

    .restaurants__container {
        width: 96%;
    }

    .second-container {
        flex-direction: row;
        min-height: 32em;
        width: 41em;
    }
}

@media screen and (min-width: 1000px) {
    .loadder__spinner--color1 {
        left: 47%;
    }

    .fonctionnement {
        flex-direction: row;
        min-height: 7em;
        padding-top: 3em;

        &__container {
            width: 70%;
            padding-bottom: 0em;
        }
    }

    .restaurants {
        &__container {
            width: 70%;
        }
    }

    .restaurants__container {
        width: 94.5%;
    }

    .restaurants__title {
        margin-bottom: 1.5em;
    }

    .second-container {
        flex-flow: row wrap;
        min-height: auto;
        width: 95%;
    }

    .footer-container {
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-around;
        &>a {
            margin: 1.4em 0 0 0;
        }
    }
}