@import "../Utils/variables";
@import "../Utils/mixin";

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-main-primary;
    box-shadow: inset 0em 0.1em 0.2em 0em rgb(204, 203, 203);
    user-select: none;

    >p {
        @include roboto-700;
    }

    >i {
        padding-right: 1em;
    }
}

.presentation {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: $color-main-secondary;
    padding: 1.5em 0 4em 0;
    >h1 {
        @include roboto-900;
        font-size: 1.6em;
        text-align: center;
        max-width: 10em;
    }

    >p {
        @include roboto-400;
        font-size: 1.2em;
        text-align: center;
    }

    >button {
        @include btn;
        cursor: pointer;
        user-select: none;
        width: 13em;
        margin-top: 1em;
    }
}