@import "../Utils/variables";
@import "../Utils/mixin";

/*FLECHE HEADER*/
.arrow-header {
    position: relative;
    font-size: 1.4em;
    top: 1.3em;
    right: 11.5em;
    color: black;
    text-decoration: none;
}

/*IMAGE-RESTAURANT*/
.restaurant {
    height: 18em;
    width: 100%;
    &__image {
        height: 18em;
        width: 100%;
        object-fit: cover;
    }
}

/*MENU*/
.menu {
    background-color: $color-main-primary;
    height: 40em;
    &__container {
        width: 90%;
        margin: auto;
    }
    &__header {
        position: absolute;
        width: 100%;
        top: 19.7em;
        border-radius: 2em 2em 0 0;
        background-color: $color-main-primary;
    }
    &__title--texte {
        @include shrikhand-400;
        font-size: 1.7em;
        margin-bottom: 1em;
    }
    &__second__title--text {
        @include roboto-400;
        font-size: 1.2em;
        padding-top: 0.8em;
    }
}

.heart1 {
    position: absolute;
    top: 1.3em;
    left: 20em;
}