/*KEYFRAMES*/
@mixin settings-heart-fill {
    svg path {
        fill: transparent;
    }

    &:hover .fill-animation {
        animation: animated-fill 2s 1 forwards;
        transform-origin: 50% 100%;
    }

    &:hover .hide-stroke {
        animation: animated-opacity 1.7s 1 forwards;
        transform-origin: 50% 100%;
    }
}

@mixin animated-heart-fill {
    @keyframes animated-fill {
        from {
            fill: url(#gradient1);
            transform: scale(0);
        }

        to {
            fill: url(#gradient1);
            transform: scale(1);
        }
    }
}

@mixin animated-stroke-opacity {
    @keyframes animated-opacity {
        0% {
            stroke-opacity: 1;
        }

        90% {
            stroke-opacity: 1;
        }

        100% {
            stroke-opacity: 0;
        }
    }
}

@mixin setting-animated-card-menu {
    @keyframes animated-menu {
        from {
            opacity: 0;
            transform: translateY(10px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}