/*COLORS*/
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-main-primary: #eaeaea;
$color-main-secondary: #f6f6f6;

$color-shadow: #adadad71;

$color-light-purple: #9256dc1c;

$color-neutral-card: white;

$color-text-notification: #038867;
$color-background-notification: #99e2d0;

$color-background-footer: #323232;